body{
    background-color: lightgray;
}
.fa{
    color: #43c5f0;
}
a{
    border-bottom: 2px solid blue;
}
.Box-part{
    background-color: white;
    margin: 20px 10px;padding: 60px 10px;
}
.text{
    margin: 15px 0px;
}
.Box{
    padding: 60px  10px;
}